<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @album.image %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Itunes link:</strong>
  <%= @album.itunes_link %>
</p>

<p>
  <strong>Track 1:</strong>
  <%= @album.track_1 %>
</p>

<p>
  <strong>Track 2:</strong>
  <%= @album.track_2 %>
</p>

<p>
  <strong>Track 3:</strong>
  <%= @album.track_3 %>
</p>

<p>
  <strong>Track 4:</strong>
  <%= @album.track_4 %>
</p>

<p>
  <strong>Track 5:</strong>
  <%= @album.track_5 %>
</p>

<p>
  <strong>Track 6:</strong>
  <%= @album.track_6 %>
</p>

<p>
  <strong>Track 7:</strong>
  <%= @album.track_7 %>
</p>

<p>
  <strong>Track 8:</strong>
  <%= @album.track_8 %>
</p>

<p>
  <strong>Track 9:</strong>
  <%= @album.track_9 %>
</p>

<p>
  <strong>Track 10:</strong>
  <%= @album.track_10 %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
